.footer_outer-container {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
}
.footer-inner-container {
  width: 60%;
  /* display: flex; */
}
.footer-icons {
  width: 12%;
  display: flex;

  justify-content: space-between;
  margin-left: 10px;
  color: white;
}
.foooter_data {
  display: flex;
  justify-content: space-between;
}
.foooter_data ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: column;
  height: 12vh;
}
.foooter_data ul li {
  cursor: pointer;
}
.service_code {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 10%;
  align-items: center;
  border: white 1px solid;
  cursor: pointer;
}
.copy_write {
  font-size: 12px;
  margin-bottom: 10px;
}
