:root {
  --font-base: "Lexend", sans-serif;
  --font-second-base: "inter", sans-serif;
  --bg-color: #1111;
  --primary-color: #ffffff;
  --secondary-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
